<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["theme.css"]" />
    <link rel="stylesheet" href="@Assets["JuleGeneratorLab.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/textUtils.js"></script>
    <script src="js/jszip.min.js"></script> {{! Adding the new script reference here }}
    <script>
      window.saveAsFile = function(fileName, byteBase64) {
        var link = document.createElement('a');
        link.download = fileName;
        link.href = byteBase64;
        document.body.appendChild(link); // Required for Firefox
        link.click();
        document.body.removeChild(link);
      }

      window.localStorageHelper = {
          setItem: function (key, value) {
              localStorage.setItem(key, value);
          },
          getItem: function (key) {
              return localStorage.getItem(key);
          },
          removeItem: function (key) {
              localStorage.removeItem(key);
          }
      };
    </script>
</body>

</html>
