<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">JuleGeneratorLab</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="generator">
                        <span class="bi bi-file-earmark-code-nav-menu" aria-hidden="true"></span> Code Generator
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="snippetmanager">
                        <span class="bi bi-pencil-square-nav-menu" aria-hidden="true"></span> Snippet Manager
                    </NavLink>
                </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="projects">
                    <span class="bi bi-kanban-nav-menu" aria-hidden="true"></span> Project Manager
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="dbconnections">
                    <span class="bi bi-plug-nav-menu" aria-hidden="true"></span> DB Connections
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="snippetsets">
                    <span class="bi bi-collection-nav-menu" aria-hidden="true"></span> Snippet Set Manager
                </NavLink>
            </div>
    </nav>
</div>

